<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages!.html_safe %>
  <div class="section">
    <div class="top-bar">
      <div class="main-nav-text">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Basic Information <i class="fa fa-caret-down fa-fw"></i> 
        </a>
        <ul class="dropdown-menu left-dropdown">
          <li><%= link_to "Basic Information", edit_user_registration_path, class: "active-link" %></li>
          <li><%= link_to "Email Notifications", notification_settings_path %></li>
        </ul>
      </div>
    </div>

    <div class="fit-conversation">
      <div class="fit-form">
        <%= f.text_field :name, placeholder: "full name", class: "form-format form-format-link" %>
        <span class="form-label">Full Name:</span>
      </div>
      <div class="fit-form">
        <%= f.email_field :email, placeholder: "email", disabled: "disabled", class: "form-format form-format-link" %>
        <span class="form-label">Email:</span>
      </div>
      <div class="fit-form">
        <%= f.password_field :current_password, placeholder: "current (required)", class: "form-format form-format-link", autofocus: true %>
        <span class="form-label">Password:</span>
      </div>
      <div class="fit-form">
        <%= f.password_field :password, placeholder: "new (optional)", :autocomplete => "off", class: "form-format form-format-link" %>
      </div>
      <div class="fit-form">
        <%= f.password_field :password_confirmation, placeholder: "re-type new", class: "form-format form-format-link" %>
      </div>
    </div>

    <div class="bottom-bar center fit-top-border">
      <%= f.submit "SAVE CHANGES", class: "btn btn-primary btn-primary-action" %>
    </div>

  </div>
<% end %>
