<%= form_for(@conversation) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation center">
      <% @conversation.errors.full_messages.each do |message| %>
        <%= content_tag(:div, message, class: 'alert alert-danger center') %>
      <% end %>
    </div>
  <% end %>

  <div class="section">

    <div class="top-bar">
      <div class="main-nav-text"><a href="<%= root_path %>">Start Conversation</a></div>
    </div>

    <div class="fit-conversation">
      <div class="fit-form-to">
        <div class="form-label-to">To:</div>
        <div class="fit-recipients" data-toggle="buttons">
            <% current_user.all_active_friendships.each do |friendship| %>
              <% friend = friendship.get_friend(current_user) %>
              <label class="btn btn-checkbox">
                <%= check_box("recipient", "ids", {:multiple => true}, friend.id, nil) %>
                <%= friend.first_name %>
              </label>
          <% end %>
        </div>
      </div>
      
      <div class="fit-form">
        <%= f.text_field :subject, placeholder: "question or topic of discussion", class: "form-format form-format-subject", autofocus: true %>
        <span class="form-label">Subject:</span>
      </div>
      
      <div class="fit-form">
        <%= f.text_field :source_link, placeholder: "http://...  enter URL of article or video (optional)", class: "form-format form-format-link" %>
        <span class="form-label">Inspiration:</span>
      </div>
    </div>

    <% unless params[:action] == 'edit' %>
      <%= fields_for (Comment.new) do |fc| %>
        <div class="page-content fit-top-border">
          <h5>What are your thoughts?</h5>
          <%= fc.trix_editor :content, placeholder: 'what are your thoughts?' %>
        </div>
      <% end %>
    <% end %>

    <div class="bottom-bar center fit-top-border">
      <%= f.submit 'SEND', class: "btn btn-primary btn-primary-action" %>
      <%= link_to 'DISCARD', root_path, class: "btn btn-default btn-default-action" %>
    </div>
  </div>

<% end %>