<div class="section">

  <div class="top-bar">
    <%= link_to "COMPOSE", new_conversation_path, class: "pull-right btn btn-secondary btn-secondary-action" %>
    <div class="main-nav-text">
      <a href="<%= root_path %>">
        Conversation
        <%= "(#{current_user.participations.unread.count})" if current_user.participations.unread.count > 0 %>
      </a>
    </div>
  </div>

  <div class="page-content">

    <span class="time-stamp"><%= @conversation.created_at.strftime('%b %d, %Y') %></span>
    <div class="subtitle text-truncate-75">
      <% if @conversation.participants.count > 1 %>
        Discussion: <%= @conversation.participants.distinct.map(&:first_name).join(', ') %>
      <% else %>
        Self Reflection
      <% end %>
      <%= "(" + @comments.count.to_s + ")" if @comments.count > 1 %>
    </div>

    <h1><%= @conversation.subject %></h1>
    
    <div class="subtitle">
      <% unless @conversation.source_link.empty? %>
        <a href="<%= @conversation.source_link %>">Inspiration</a> | 
      <% end %>
      <%= link_to "mark as unread", mark_as_unread_participation_path(@participation), method: :post %>
    </div>
  </div>

  <% @comments.tap do |*older_comments, last_comment| %>

    <% older_comments.each do |c| %>

      <div class="fit-comment toggleable" id="comment-<%= c.id %>" onclick="show('comment-<%= c.id %>-full', 'comment-<%= c.id %>')"
        style="display:<%= c.created_at - @participation.updated_at > -120 ? 'none' : 'block' %>;">
        <span class="time-stamp hidden-xs"><%= time_ago(c.created_at) %></span>
        <span class="time-stamp visible-xs"><%= time_ago_short(c.created_at) %></span>
        <div class="text-truncate-preview">
          <h5 class="pull-left"><%= c.commenter.name %></h5>
          <span class="toggleable-preview-text"><%= strip_tags(c.content.gsub('<br>',' ')) %></span>
        </div>
      </div>

      <div id="comment-<%= c.id %>-full" onclick="show('comment-<%= c.id %>', 'comment-<%= c.id %>-full')"
        style="display:<%= c.created_at - @participation.updated_at > -120 ? 'block' : 'none' %>;"">
        <div class="fit-comment toggleable">
          <span class="time-stamp hidden-xs"><%= time_ago(c.created_at) %></span>
          <span class="time-stamp visible-xs"><%= time_ago_short(c.created_at) %></span>
          <h5><%= c.commenter.name %></h5>
        </div>

        <div class="fit-comment-content">
          <p><%= c.content.gsub('div>', 'p>').html_safe %></p>
        </div>
      </div>

    <% end %>

    <div class="fit-comment">
      <span class="time-stamp hidden-xs"><%= time_ago(last_comment.created_at) %></span>
      <span class="time-stamp visible-xs"><%= time_ago_short(last_comment.created_at) %></span>
      <h5><%= last_comment.commenter.name %></h5>
    </div>

    <div class="fit-comment-content fit-last-comment">
      <p><%= last_comment.content.gsub('div>', 'p>').html_safe %></p>
    </div>

  <% end %>

</div>

<div class="section-wayt">
  <%= form_for (@comment) do |f| %>
    <%= f.hidden_field :participation_id, value: @participation.id %>
    <%= f.hidden_field :conversation_id, value: @conversation.id %>

    <div class="page-content">
      <span class="time-stamp">now</span>
      <h5><%= current_user.name %></h5>
      <%= f.trix_editor :content, placeholder: 'what are your thoughts?' %>
    </div>
    <div class="bottom-bar center fit-top-border">
      <%= f.submit 'SEND', class: "btn btn-primary btn-primary-action" %>
      <%= link_to 'DISCARD', conversation_path(@conversation), class: "btn btn-default btn-default-action" %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  function show(target, source){
     document.getElementById(target).style.display = 'block';
     document.getElementById(source).style.display = 'none';
  }
</script>
