<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @conversation.subject %>
</p>

<p>
  <strong>Source author:</strong>
  <%= @conversation.source_author %>
</p>

<p>
  <strong>Source link:</strong>
  <%= @conversation.source_link %>
</p>

<p>
  <strong>Source content:</strong>
  <%= @conversation.source_content %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @conversation.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @conversation.user_id %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
