<div class="section">

  <div class="top-bar">
    
    <div class="pull-right">
      <%= link_to '<i class="fa fa-envelope-o"></i>'.html_safe, mark_as_unread_participation_path(@participation), method: :post, class: "btn btn-primary btn-read-icon" %>

      <a href="#" class="dropdown-toggle btn btn-more-icon" data-toggle="dropdown">
          <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu right-dropdown">
        <% if @conversation.participants.count > 1 %>
          <% if @participation.unmute? %>
            <li><%= link_to "Mute Discussion", mute_participation_path(@participation), method: :post %></li>      
          <% else %>
            <li><%= link_to "Umute Discussion", unmute_participation_path(@participation), method: :post %></li>
          <% end %>
        <% end %>

        <% if @conversation.owner == current_user %>
          <li><%= link_to "Delete", @conversation, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-link" %></li>
        <% end %>
      </ul>
    </div>

    <div class="main-nav-text">
      <a href="<%= root_path %>">
        <div class="hidden-xs">
          <i class="fa fa-fw fa-lg fa-chevron-left"></i> Conversations
          <%= "(#{current_user.participations.unread.count})" if current_user.participations.unread.count > 0 %>
        </div>
        <div class="visible-xs">
          <i class="fa fa-lg fa-chevron-left"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="page-content">

    <span class="time-stamp"><%= @conversation.created_at.strftime('%b %d, %Y') %></span>
    <div class="subtitle text-truncate-75">
      <% if @conversation.participants.count > 1 %>
        Discussion: <%= @conversation.ordered_participants.join(', ') %>
      <% else %>
        Reflection
      <% end %>
      <%= "(" + @comments.count.to_s + ")" if @comments.count > 1 %>
    </div>

    <h1><%= @conversation.subject %></h1>
    
    <div class="subtitle">
      <%= link_to "Inspiration", @conversation.source_link unless @conversation.source_link.empty? %>
    </div>
  </div>

  <% @comments.tap do |*older_comments, last_comment| %>

    <% older_comments.each do |c| %>

      <div class="fit-comment toggleable" id="comment-<%= c.id %>" onclick="show('comment-<%= c.id %>-full', 'comment-<%= c.id %>')"
        style="display:<%= c.created_at - @participation.updated_at > -120 ? 'none' : 'block' %>;">
        <span class="time-stamp hidden-xs"><%= time_ago(c.created_at) %></span>
        <span class="time-stamp visible-xs"><%= time_ago_short(c.created_at) %></span>
        <div class="text-truncate-preview">
          <h5 class="pull-left"><%= c.commenter.first_name %></h5>
          <span class="toggleable-preview-text"><%= strip_tags(c.content.gsub('<br>',' ')) %></span>
        </div>
      </div>

      <div id="comment-<%= c.id %>-full" onclick="show('comment-<%= c.id %>', 'comment-<%= c.id %>-full')"
        style="display:<%= c.created_at - @participation.updated_at > -120 ? 'block' : 'none' %>;"">
        <div class="fit-comment toggleable">
          <span class="time-stamp hidden-xs"><%= time_ago(c.created_at) %></span>
          <span class="time-stamp visible-xs"><%= time_ago_short(c.created_at) %></span>
          <h5><%= c.commenter.first_name %></h5>
        </div>

        <div class="fit-comment-content">
          <p><%= c.content.gsub('div>', 'p>').html_safe %></p>
        </div>
      </div>

    <% end %>

    <div class="fit-comment">
      <span class="time-stamp hidden-xs"><%= time_ago(last_comment.created_at) %></span>
      <span class="time-stamp visible-xs"><%= time_ago_short(last_comment.created_at) %></span>
      <h5><%= last_comment.commenter.first_name %></h5>
    </div>

    <div class="fit-comment-content fit-last-comment">
      <p><%= last_comment.content.gsub('div>', 'p>').html_safe %></p>
    </div>

  <% end %>

</div>

<div class="section-wayt">
  <%= form_for (@comment) do |f| %>
    <%= f.hidden_field :participation_id, value: @participation.id %>
    <%= f.hidden_field :conversation_id, value: @conversation.id %>

    <div class="fit-wayt-to fit-bottom-border preview-text">

      <div class="pull-left">
        <a href="#" class="dropdown-toggle btn btn-wayt-to" data-toggle="dropdown">+</a>
        <ul class="dropdown-menu wayt-to-dropdown">
          <% current_user.all_active_friendships.each do |friendship| %>
            <% friend = friendship.get_friend(current_user) %>
            <% if @conversation.ordered_participants.any? { |f| f == friend.first_name } %>
              <li class="disabled"><%= link_to friend.first_name, "#", method: :post %></li>
            <% else %>
              <li><%= link_to friend.first_name, add_participant_conversation_path(friend_id: friend.id), method: :post %></li>
            <% end %>   
          <% end %>
        </ul>
      </div>

      <div class="preview-text">
        <span class="hidden-xs">To: &nbsp; </span> 
        <% if @conversation.participants.count > 1 %>
          <%= @conversation.ordered_participants.select { |p| p != current_user.first_name }.join(', ') %>
        <% else %>
          Self
        <% end %>
      </div>

    </div>

    <div class="page-content">  
      <h5><%= current_user.first_name %></h5>
      
      <%= f.trix_editor :content, placeholder: 'what are your thoughts?' %>
    </div>
    <div class="bottom-bar center fit-top-border">
      <%= f.submit 'SEND', class: "btn btn-primary btn-primary-action" %>
      <%= link_to 'DISCARD', conversation_path(@conversation), class: "btn btn-default btn-default-action" %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  function show(target, source){
     document.getElementById(target).style.display = 'block';
     document.getElementById(source).style.display = 'none';
  }
</script>
