<div class="section-user-setting">
	<div class="fit-comfort">
		<h4>Reset Password</h4>
	</div>

	<div class="fit-comfort fit-top-border">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			<p><%= devise_error_messages! %></p>
			<p><%= f.email_field :email, placeholder: "email", class: "form-control center", :autofocus => true %></p>
			<p><%= f.submit "SEND INSTRUCTIONS", class: "btn btn-block btn-primary btn-primary-action" %></p>
		<% end %>
	</div>

	<%= render "devise/shared/links" %>
</div>
