<%= form_for(@friendship) do |f| %>
  <% if @friendship.errors.any? %>
    <div id="error_explanation center">
      <% @friendship.errors.full_messages.each do |message| %>
        <%= content_tag(:div, message, class: 'alert alert-danger center') %>
      <% end %>
    </div>
  <% end %>

  <div class="section">

    <div class="top-bar">
      <div class="main-nav-text"><a href="<%= friendships_path %>">Find & Add Friend</a></div>
    </div>

    <div class="fit-conversation">
      <div class="fit-form-to">
        <%= email_field_tag :friend_email, value = nil, placeholder: "email id", class: "form-format form-format-email", :autofocus => true %>
        <div class="form-label">Enter Friend's Email:</div>
      </div>
    </div>
    
    <%= f.hidden_field :status %>
    <%= f.hidden_field :user_id %>

    <div class="bottom-bar center fit-top-border">
      <%= f.submit 'SEND REQUEST', class: "btn btn-primary btn-primary-action" %>
      <%= link_to 'CANCEL', friendships_path, class: "btn btn-default btn-default-action" %>
    </div>
  </div>

<% end %>
