<div class="section">

  <div class="top-bar">
    <%= link_to "ADD FRIEND", new_friendship_path, class: "pull-right btn btn-primary btn-primary-action" %>
    <div class="main-nav-text">
      <a href="<%= friendships_path %>">
        Close Friends <%= "(#{@pending_count})" if @pending_count > 0 %>
      </a>
    </div>
  </div>

  <div class="fit-list">
    <% @friendships.each do |friendship| %>
      <div class="fit-list-item">

        <% if friendship.pending %>
          <% if friendship.friend == current_user %>
            <h5 class="text-truncate-75"><%= friendship.user.name %></h5>
            <div class="recipient-text text-truncate-75">Pending Request</div>
            <%= link_to 'ACCEPT', accept_friendship_path(friendship), method: :post, class: 'btn btn-primary btn-primary-action btn-in-list' %>
          <% else  %>
            <h5 class="text-truncate-75"><%= friendship.friend.name %></h5>
            <div class="recipient-text text-truncate-75">Request Sent <em>(awaiting response)</em></div>
            <%= link_to 'DELETE', friendship, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-default-action btn-in-list' %>
          <% end %>
        <% else  %>
          <h5 class="text-truncate-75">
            <%= friendship.get_friend(current_user).name %>
          </h5>
          <div class="recipient-text text-truncate-75">Since <%= friendship.created_at.strftime('%b, %Y') %></div>
          <%= link_to 'UNFRIEND', friendship, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-default-action btn-in-list' %>
        <% end %>

      </div>    
    <% end %>
  </div>

</div>
