<div class="top-bar">
	<%= link_to "COMPOSE", new_conversation_path, class: "pull-right btn btn-secondary btn-secondary-action" %>
	<div class="main-nav-text">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Conversations <%= "(#{@participations.unread.count})" if @participations.unread.count > 0 %>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to "Conversations", root_path, class: "active-link" %></li>
			<li><%= link_to "Close Friends", friends_path %></li>
		</ul>
	</div>
</div>


<div class="fit-list">
	<% @participations.each do |part| %>
		<div class="fit-list-actions">
			<% if part.unread? %>
				<%= link_to '<i class="fa fa-fw fa-square"></i>'.html_safe, mark_as_read_participation_path(part), method: :post, class: "action-unread" %>
			<% else %>
				<%= link_to '<i class="fa fa-fw fa-square-o"></i>'.html_safe, mark_as_unread_participation_path(part), method: :post, class: "action-read" %>
			<% end %>
		</div>

		<a href="<%= participation_path(part) %>">
			<% c = part.conversation %>
			<div class="fit-list-item">
				<span class="time-stamp hidden-xs"><%= time_ago(c.comments.last.created_at) %></span>
				<span class="time-stamp visible-xs"><%= time_ago_short(c.comments.last.created_at) %></span>

				<h5 class="text-truncate-75"><%= c.subject %></h5>
				
				<div class="recipient-text text-truncate-75">
					<%= c.owner.first_name %>
					<% c.engaged_participations.distinct.drop(1).each do |ep| %>
						, <%= ep.user.first_name %>
					<% end %>
					<%= "(" + c.comments.count.to_s + ")" if c.comments.count > 1 %>
				</div>

				<div class="preview-text text-truncate"><%= strip_tags(c.comments.last.content.gsub('<br>',' ')) %></div>
			</div>
		</a>
	<% end %>
</div>

<!-- <div class="bottom-bar">
	
</div> -->