<div class="section">
  <div class="top-bar">
    <div class="main-nav-text">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Email Notifications <i class="fa fa-caret-down fa-fw"></i> 
      </a>
      <ul class="dropdown-menu left-dropdown">
        <li><%= link_to "Basic Information", edit_user_registration_path %></li>
        <li><%= link_to "Email Notifications", notification_settings_path, class: "active-link" %></li>
      </ul>
    </div>
  </div>

  <div class="fit-list">

		<!-- FRIENDSHIP NOTIFICATIONS -->
  	<div class="fit-list-actions">
			<% if current_user.friendship_notifications? %>
				<%= link_to '<i class="fa fa-fw fa-square"></i>'.html_safe, toggle_friendship_notification_path, method: :post, class: "action-unread" %>
			<% else %>
				<%= link_to '<i class="fa fa-fw fa-square-o"></i>'.html_safe, toggle_friendship_notification_path, method: :post, class: "action-read" %>
			<% end %>
		</div>
  	<div class="fit-list-item">
			<h5>Friendship Changes</h5>
			<div class="recipient-text">
				Recieve email for every new friend request and accepted friend request.
			</div>
	    <div class="preview-text">
				Status: <%= current_user.friendship_notifications? ? 'ON' : 'OFF' %>
			</div>
		</div>

		<!-- CONVERSATION NOTIFICATIONS -->
		<div class="fit-list-actions">
			<% if current_user.conversation_notifications? %>
				<%= link_to '<i class="fa fa-fw fa-square"></i>'.html_safe, toggle_conversation_notification_path, method: :post, class: "action-unread" %>
			<% else %>
				<%= link_to '<i class="fa fa-fw fa-square-o"></i>'.html_safe, toggle_conversation_notification_path, method: :post, class: "action-read" %>
			<% end %>
		</div>
  	<div class="fit-list-item">
			<h5>New Discussions</h5>
			<div class="recipient-text">
				Recieve email for every new discussion your friends start with you.
			</div>
	    <div class="preview-text">
				Status: <%= current_user.conversation_notifications? ? 'ON' : 'OFF' %>
			</div>
		</div>

		<!-- REPLY NOTIFICATIONS -->
		<div class="fit-list-actions">
			<% if current_user.reply_notifications? %>
				<%= link_to '<i class="fa fa-fw fa-square"></i>'.html_safe, toggle_reply_notification_path, method: :post, class: "action-unread" %>
			<% else %>
				<%= link_to '<i class="fa fa-fw fa-square-o"></i>'.html_safe, toggle_reply_notification_path, method: :post, class: "action-read" %>
			<% end %>
		</div>
  	<div class="fit-list-item">
			<h5>New Replies</h5>
			<div class="recipient-text">
				Recieve email for every new reply by a friend in any discussion. Alternatively, you can mute specific discussions.
			</div>
	    <div class="preview-text">
				Status: <%= current_user.reply_notifications? ? 'ON' : 'OFF' %>
			</div>
		</div>

	</div>
</div>