<!DOCTYPE html>
<html>
<head>
  <title>what are your thoughts?</title>
	  <%= favicon_link_tag "/images/wayt_favicon_nobg.ico" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= render "layouts/header" %>
	<div class="container">
		<div>
		<% flash.each do |name,msg| %>
			<button type="button" class="close alert-dismiss-fit" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>
			<%= content_tag(:div, msg, class: "alert alert-info alert-fit") %>
		<% end %>
		</div>
		<%= yield %>
	</div>
	<%= render "layouts/footer" %>
</body>
</html>
